@media (max-width: 374px){
  

    header nav .logo a {
        font-size: 1.3rem;
    }
    header nav {
        padding-right: 10px;
    }

    #product .clock-product {
        height: 600px!important;
    }

    #product .clock-product .slide-product .info-clock .buttons button{
        width: 100%;
    }

    #product .clock-product .slide-product .info-clock .buttons button:first-child{
        margin-top: 0;
    }

    #product .clock-product .slide-product .info-clock .buttons button:nth-child(2){
        padding: 5px 2px!important;
        font-size: .5rem!important;
    }

    #product .clock-product .slide-product .info-clock .buttons {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 389px){

    #product {
        margin-top: 0rem!important;
    }

    #product .clock-product h3{
        left: 0px!important;
    }
}

@media (max-width:423px){
    
    footer .content-footer .lista nav ul:last-child{
        padding-left: 30px!important;        
    }
}

@media (max-width: 486px){
    .formCreat{
        height: 100%;
    }

    #contacts .form form{
        justify-content: flex-start!important;
    }

    .formCreat .form h2 {
        font-size: 1.5rem;
    }

    .formCreat .form form .nameL{
    flex-wrap: wrap;
    }

    #contacts .form form .input-email .email-person span,
    #contacts .form form .input-email .number-phone span,
    #contacts .form form .input-name .second-name span,
    #contacts .form form .input-name .first-name span{
        top: 15px;
    }

    #contacts .form form .input-name,
    #contacts .form form .input-email{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;   
    }

    #contacts .form form .input-email .email-person,
    #contacts .form form .input-email .number-phone,
    #contacts .form form .input-name .second-name,
    #contacts .form form .input-name .first-name{
        width: 70%;
        position: relative;
    }

    #contacts .form form .input-email input,
    #contacts .form form .input-name input{
        width: 100%;
        margin: 10px;
    }

    #product .clock-product .slide-product .info-clock .price{
        padding-left: 10px;
    }

    .news-letter {
        flex-wrap: wrap;
    }
}

@media (max-width: 566px) {

    footer .content-footer .lista nav ul{
        padding: 0!important;
        border-left: 0;
    }

    footer .content-footer .lista nav ul:last-child{
        height: 120px;        
    }

    footer .content-footer .lista nav ul:last-child .redes li{
        margin: 10px;
    }

    
    #abouts .content figure img{
        width: 300px;
    }

    #abouts .content figure .square{
        width: 300px;
        height: 200px;
        position: absolute;
        left: 60px!important ;
    }

    #contacts .form{
      width: 100%;
      padding-bottom: 2rem;
    }

    #contacts .form form textarea {
        width: 80%;
    }

    #contacts .contact-text{
        width: 100%!important;
        text-align: center;
        padding: 0;
    }

    #contacts .contact-text .sociais{
        justify-content: flex-start!important;
        padding: 0;
        border-radius: 0;
        text-align: center;
        background-color: white;
    }


    #home .clocks div img{
        width: 50%;
        height: 70px;
        border-radius: 50%;
    }

    #product .clock-product{
        height: 550px;
    }

    #product .clock-product .slide-product{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #product .clock-product .slide-product .info-clock{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #product .clock-product .slide-product .info-clock .title h4{
        width: 100%;
    }

    #product .clock-product .slide-product .info-clock .title .mark{
        width: 100%;
    }

    #home .category {
        margin: 20px 0;
    }

    #home .swiper .swiper-wrapper .swiper-slide{
        padding-top: 5rem;
    }

    #home .clocks {
        padding: 20px 0px;
    }

    #home .clocks div{
        color: black;
        background: white;
        box-shadow: 0px 10px 10px 0px rgba(63, 61, 61, 0.623);
        margin: 10px;
        margin-top: 15px;
        border-radius: 5px;
    }

    #home .clocks div a p{
        color: black;
    }

    #home .clocks{
        flex-wrap: wrap;
        margin: 30px 0;
    }
    #product .clock-product h3{
        font-size: 1rem;
        left: calc(100vw - 70vw)!important;
    }

    body .head-promotion{
       display: none;
    }

    header {
    top: 0px;
    }

    section .optionsFilter{
        top: 60px!important;
    }
}

@media (max-width: 573px) {

    #product {
        margin-top: 1rem;
    }

    .swiper-slide .text h2{
        font-size: 1.3rem!important;
    }

    .swiper-slide .text p{
        font-size: .9rem!important;
    }

    #product .clock-product .slide-product .info-clock .buttons button:last-child{
        font-size: .3rem!important;
        padding: 12px 5px;
    }
}

@media (max-width: 800px) {
    section .optionsFilter{
        top: 100px;
    }

    section .optionsFilter .options {
        flex-direction: column;
    }

    section .optionsFilter .options .filter {
        margin: 10px 0;
    }

    section .optionsFilter.showCategory{
        height: 250px;
        transition: all .35s ease;
        padding-top: 0;
    }
}

@media (max-width: 610px){
    #product .clock-product .slide-product .info-clock .buttons button:last-child{
        font-size: .7rem!important;
    }
}


@media (max-width: 683px){
    #product .clock-product .slide-product{
        height: 80%;
        width: 55%!important;
    }

    #product .clock-product .slide-product .info-clock .buttons button:last-child{
        font-size: .8rem;
    }

}

@media (max-width: 718px){
    #product .clock-product h3{
        left: calc(100% / 5)!important;
    }

    header nav{
        width: 100%;
    }

    .navAb .listAb,
    .navIdx .listaIdx{
        height: 100vh!important;
        width: 100%!important;
        background-color: var(--bg-nav);
        position: fixed!important;
        right: 0!important;
        top: 0;
        flex-direction: column!important;
        justify-content: center!important;
        transform: translateX(200px)!important;
        transition: transform .45s ease; 
        z-index: 9999999999;
        visibility: hidden!important;
    }

    .navAb .listAb li,
    .navIdx .listaIdx li{
        font-size: 1.5rem;
        font-weight: 700;
    }
   
    .menu #close{
        z-index: 999999999999!important;
    }

header nav ul li::before{
    position: absolute;
    content: " ";
    left: 0;
    width: 0%;
    height: 100%;
    bottom: 0;
    background-color:var(--text-color);
    z-index: -1;
}

    header .navAb .listAb.showmenu,
    header .navIdx .listaIdx.showMenu{
        opacity: 1!important;
        transform: translateX(0px)!important;
        visibility: visible!important;
        width: 20%;
        transition: transform .45s ease; 
    }

    header nav .lista{
        justify-content: flex-start;
        z-index: 9!important;
        width: 100%!important;
        height: 100vh!important;
        transition: all .35s ease;
    }

    header nav .lista li {
        font-size: 2rem!important;
        font-family: var(--font);
        font-weight: 700;
        margin: 10px 0!important;
    }
}


@media (max-width: 785px) {

    #abouts {
        height: 100%;
        padding: 50px 0;
    }

    #abouts h1 {
        margin-top: 4rem;
    }

    #abouts .content .content-text .redes-sociais-about {
        align-items: center;
        justify-content: center;
    }

    #abouts .content .content-text{
        text-align: center;
    }

    #abouts .content {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #abouts .content figure .square{
        top: 210px!important;
        left: 150px;
    }

    header .head-promotion h1{
        flex-direction: column;
    }

    header nav {
        justify-content: space-around;
    }
    section .optionsFilter{
        width: 100%;
    }

    header{
        width: 100%;
    }

   header nav .input-search{
    width: 10%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--bg-nav);
    padding: 10px;
    padding-left: 0;
    transition: width .35s ease;
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
   }
 
   header nav .input-search.showSearch{
    width: 85%!important;
    transition: width .35s ease;
   }

   header nav .input-search input{
    opacity: 0;
    border: none!important;
   }

   header nav .input-search input.Showput{
    width: 100%;
    opacity: 1;
   }

   header nav .input-search button:first-child{
    display: none;
   } 

   header nav .input-search button:first-child.Showbtn{
    display: flex;
   }

   .menu #close{
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999999999999999;
   }
    
    footer .lista nav {
        flex-wrap: wrap;
    }

    footer .content-footer{
    flex-wrap: wrap;
 
    }
}

@media (max-width: 798px) {

    #product .clock-product figure img{
        margin: 5px;
        width: 80px;
    }

    #product .clock-product .slide-product .info-clock .title h4{
        font-size: .8rem;
    }

    #product .clock-product .slide-product .info-clock p{
        text-align: justify;
        font-weight: 400;
        color: white;
        font-size: .8rem;
        margin: 10px 0;
        padding-right: 20px;
        padding-left: 0px;
    }

    #product .clock-product .slide-product .info-clock .price{
        width: 90px;
        font-size: 1rem;
    }

    #product .clock-product h3{
        left: calc(100% / 3.5);
    }
}

@media (max-width: 825px){
    .formCreat .form {
        width: 100%!important;
    }

    footer .content-footer .lista nav ul:last-child{
        margin-left: 10px!important;
    }
}

@media (max-width: 922px){
    #contacts .contact-text {
        margin: 15px 0;
    }

    #contacts {
        align-items: center;
        justify-content: center;
    }

    #contacts .form{
        width: 100%!important;
    }
}

@media (max-width: 1097px){
    #contacts .form{
        width: 60%;
    }

    header nav .logo {
        margin-right: 30px;
    }

    header nav .lista {
        opacity: 0;
        visibility: hidden;
    }

    .menu {
        display: block!important;
    }
header nav .lista{
    opacity: 0;
    visibility: hidden;
    width: 0%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0;
    padding-top: 10rem;
    transform: translateX(200px);
    background-color: var(--bg-nav);
    transition: transform .45s ease; 
    z-index: -1;
}

header nav .lista.showMenu{
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
    width: 20%;
    transition: transform .45s ease; 
}

header nav .lista li{
    width: 80%;
    padding: 5px 10px;
    margin: 5px 0px;
  
}

header nav .lista li a{
    color: white;
    font-size: 1.5rem;
}

    #contacts {
        flex-wrap: wrap!important;
    }
}


@media (max-width: 1150px){
    #contacts {
        align-items: center;
        height: 100%;
    }

    #contacts .form{
        height: 100vh;
    }

}

@media (max-width: 1326px) {
    .formCreat .form {
        width: 50%;
    }
    #home .category {
        margin-top: 0px!important;
    }
}

