body {
    position: relative;
    background-color:var(--background);
    background-size: cover;
    background-image: linear-gradient(var(--text-color), var(--background));
}

header nav{
    display: flex;
    align-items: center;
}

header nav .input-search{
    display: flex;
    width: 300px;
    background-color: white;
    padding: 0px;
    border: 1px solid rgba(51, 49, 49, 0.521);
    border-radius: 2px;
}

header nav .input-search .filter{
    background-color: var(--bg-nav);
    padding: 10px;
    border-right: 1px solid rgba(51, 49, 49, 0.521);
}

header nav .input-search input{
    width: 100%;
    border:none;
    outline: none;
    padding-left: 5px;
}

header nav .input-search button {
    border: none;
    cursor: pointer;
    background-color: var(--bg-nav);
    padding: 10px;
    border-left: 1px solid rgba(51, 49, 49, 0.521);
}

header nav .input-search button:Hover{
    background-color: var(--text-color);
    color: white;
}


section {
    width: 100vw;
    height: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .optionsFilter{
    position: fixed;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50px;
    padding-top: 4rem;
    margin-bottom: 50px;
    transition: all .25s ease;
    z-index: 1;
}


section .optionsFilter .close i{
    position: absolute;
    color: black;
    right: 30px;
    top: 20px;
    padding: 5px 7px;
}

section .optionsFilter .close i:hover{
    cursor: pointer;
    background-color: var(--footer);
    color: white;
    border-radius: 50%;
    transition: all .25s ease;
}

section .optionsFilter h1{
    font-size: 1rem;
    font-family: var(--font);
    margin-bottom: 0;
    cursor: pointer;
}

section .optionsFilter.showCategory{
    height: 170px;
    transition: all .35s ease;
    padding-top: 0;
}

section .optionsFilter h1 > span{
    font-weight: 400;
    cursor: pointer;
}

section .optionsFilter h1 > span:hover{
    text-decoration: underline;
}

section .optionsFilter .options {
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}

section .optionsFilter .options.ShowOptions{
    opacity: 1;
    visibility: visible;
    transition: all .35s ease;
}

section .optionsFilter .options .filter{
    position: relative;
    margin: 0 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: var(--font);
    padding: 10px 15px;
    background: transparent;
    border: 1px solid var(--text-color);
}


section .optionsFilter .options .filter select{
    background: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

section .optionsFilter .options .filter .range{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .optionsFilter .options .filter .range input[type="number"]{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    border: 1px solid var(--text-color);
    color: black;
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    background-color: transparent;
}

section .products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 20px;
    background-color: var(--footer);
    margin-bottom: 20px;
}

section .products .card-product{
    width: 300px;
    height: 340px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 100px 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    background-image: linear-gradient(var(--text-color), var(--footer));
}



section .products .card-product:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .25s ease;
    box-shadow: 0px 8px 30px 0px rgba(43, 42, 42, 0.637);
}

section .products .card-product .flex{
    display: flex;
    padding: 0px 10px;
    padding-left: 0px;
    border: 1px solid var(--text-color);
}

section .products .card-product .flex button {
    border: none;
    font-family: 'Dancing';
    font-weight: 300;
    padding: 10px;

    margin-right: 10px;
    background-color: var(--footer);
    color: white;
}

section .products .card-product .flex button:hover{
    cursor: pointer;
    background-color: var(--text-color);
    transition: background-color .35s ease;
}

section .products .card-product h2{
    text-align: center;
    font-family: var(--font);
    color: white;
    width: 100%;
    margin: 0px;
    padding: 2px;
    font-weight: 700;
    font-size: 1rem;
}

section .products .card-product h3{
    text-align: center;
    font-size: 1rem;
    width: 60%;
    padding: 0 5px;
    background-color: var(--text-color);
    font-family: var(--font);
    color: white;
    border: 1px solid var(--footer);
    border-radius: 10px;
    font-weight: 200;
}

section .products .card-product h3 span{
    font-weight: 700;
    padding: 0px 10px;
}

section .products .card-product h4{
    color: white;
    font-family: "Dancing";
    font-size: .8rem;
    text-transform: uppercase;
    background-color: var(--footer);
    margin-top: 5px;
    border: 1px solid var(--text-color);
    padding: 5px 10px;
}

section .products .card-product .descri{
    color: white;
    text-align: justify;
}

section .products .card-product p {
    font-family: var(--font);
    font-weight: 300;
    margin: 5px 0;
    padding: 5px;
    color: white;
}

section .products .card-product .buttons{
    display: flex;
    align-items: center;
    text-align: center;
}

section .products .card-product .buttons button{
    position: relative;
    border:1px solid var(--text-color);
    background-color: var(--text-color);
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 5px 35px;
    font-size: .8rem;
    font-family: var(--font);
    font-weight: 700;
    cursor: pointer;
    margin: 10px 5px;
    overflow: hidden;
    border-radius: 4px;

}

section .products .card-product .buttons button::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 400px;
    height: 50px;
    transform: rotate(15deg) translateY(-57px);
    opacity: 0.2;
    background-color: rgba(100, 87, 65, 0.89);
}

section .products .card-product .buttons button:hover:after{
    transform: rotate(15deg) translateY(25px);
    transition: all .55s ease;
}

section .products .card-product .buttons button:hover{
    border: none;
    transition: all 2s ease-in;
    background-color: #e5cba0;
}

section .products .card-product figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .products .card-product figure img{
    width: 130px;
    background-size: cover;
    background-color: var(--footer);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}